.title{
  color: #F4C14B;
  font-weight: bold;
}
.balances{
  font-weight: bold;
}
.CompDay{
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
.Comp{
  color: #E75755;
  font-size: 14px;
}